

  header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#981ce0);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
}

  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: rgb(#fdfdfd);
    font-weight: normal;
    font-size: 0.8em;
    padding: 10px;

}

.myCoolButton1 {
    
    background-color: #524e4ef3;
    color: whitesmoke;
    width: 320px;
    padding: 10px;
    border: 5px;
    position: relative;
    left: 260px;
    bottom:-50px

}

.myCoolButton2 {
    background-color: #524e4ef3;
    color: whitesmoke;
    width: 320px;
    padding: 10px;
    border: 5px;
    position: relative;
    left: 950px;
    bottom:-50px

}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.8em; color: rgb(0, 0, 0);
    padding: 10px;

}

.selector1 {

    background-color: rgb(174, 170, 238) ;
    width: 3cm;
    position: relative;
    left: 480px;
    bottom:80px;
}

.selector2 {

    background-color: rgb(174, 170, 238) ;
    width: 3cm;
    position: relative;
    left: 800px;
    bottom:215px;
}

.to_purchase {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 740px;
    bottom:145px;

}

.from_purchase {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 390px;
    bottom:15px;

}

.q_input {

    background-color: rgb(174, 170, 238) ;
    position: relative;
    left: 275px;
    bottom:120px;

}


.q {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 800px;
    bottom:195px;
}

.quant {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: normal;
    font-size: 1.1em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 880px;
    bottom:306px;


}
.q_result {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 850px;
    bottom:195px;


}

.p_u {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: bold;
    font-size: 1.2em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 800px;
    bottom:300px;
}

.p_u_cant {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(#000000);
    font-weight: normal;
    font-size: 1.1em; color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    left: 880px;
    bottom:370px;


}
.calc_q {

    background: #524e4ef3;
    position: relative;
    left: 280px;
    bottom:120px;
}

.btn_purchase {

    background: #981ce0;
    width: 100px;
    position: relative;
    left: 950px;
    bottom:140px;
}

.btn_clear_purchase {

    background-color: #524e4ef3;
    color: whitesmoke;
    width: 320px;
    padding: 10px;
    border: 5px;
    position: relative;
    left: 750px;
    bottom:140px;
}

.inicio_purchase {

    background-color: #524e4ef3;
    color: whitesmoke;
    width: 320px;
    padding: 10px;
    border: 5px;
    position: relative;
    left: 200px;
    bottom: 140px

}