{% extends "base.html" %}

{% block title %} Inicio - Crypto Converter {% endblock %}

{% block content %}
    <h1 align="center" class="title">MOVIMIENTOS</h1>
<table class="primary" align="center">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>From</th>
        <th>Q</th>
        <th>To</th>
        <th>Q</th>
        <th>P. Unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
    </tr>
    <tr>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
        <td>Valencia, Spain</td>
        <td>Francisco</td>
    </tr>
    </tbody>
</table>
<button class="myCoolButton1">Status</button>
<button class="myCoolButton2">+</button>


{% endblock %}