{% extends "base.html" %}

{% block title %} Inicio - Crypto Converter {% endblock %}

{% block content %}
    <h1 align="center" class="title">MOVIMIENTOS</h1>
<table class="primary" align="center">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>From</th>
        <th>Q</th>
        <th>To</th>
        <th>Q</th>
        <th>P. Unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td>{{ data[3] }}</td>
        <td>{{ "{:,.2f}".format(data[0]) }}</td>
        <td>{{ data[4] }}</td>
        <td>{{ "{:,.2f}".format(data[2]) }}</td>
        <td>{{ "{:,.2f}".format(data[1]) }}</td>
    </tr>
    </tbody>
</table>
<a href="/status" class="myCoolButton1">Status</a>
<a href="/purchase" class="myCoolButton2">Compra </a>

{% endblock %}